
body{
    margin: 0;
}


.light-mode{
     background-color: #fff;
     color:#333;
     transition: background-color 0.25s ease-out;
}
.light-mode nav{
    transition: background-color 0.25s ease-out;
}
.dark-mode{
    background-color:#1a1919;
    color: #999;
    height: 100%;
    transition: background-color 0.25s ease-out;

}

.dark-mode nav{
    background-color: #1b2938;
    transition: background-color 0.25s ease-out;

}

nav{
    width: 100%;
    display: flex;
    background-color: steelblue;
    padding: 20px;
}

.toggle-container{
    display: flex;
    margin : 0 auto;
}
.toggle-container > span{
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 4px;
    margin-right:2px;
}


