.IMG {
  width: 100%;
  height: 70vh;
}


.SliderContainer {
  
  width: 100%;
  display: flex; 
}

.slideContainer{
width: 60%;
  overflow: hidden; 
}


.SliderContainer{  
    width: 100%;
    display: flex; 
}

.clickButton{
    all: unset;
  border: 1px solid coral;
  padding: 0.5em 2em;
  color: coral;
  border-radius: 10px;
}
.clickButton :hover{
        transition: all 0.3s ease-in-out;
        background-color: coral;
        color: #fff;
    }
